@import "colors";
@import "mixins";
@import "variables";

:host {
  display: block;

  section {
    padding: $padding;
    @include flex-center(column);
    margin-top: 50px;
    text-align: center;

    .title {
      font-size: 22px;
      font-weight: $bold;
      margin-bottom: 5px;
    }

    .sub-title {
      font-size: 18px;
      color: $sub-title-color;
    }
  }

  .mat-button-toggle {
    min-width: 120px;
  }

  .search-container {
    border-radius: 5px;

    margin-top: 50px;
    margin-bottom: 30px;
    padding: $padding;
    position: relative;
    border: 2px solid $primary-color;
    display: flex;
    flex-direction: column;

    mat-button-toggle-group {
      margin-bottom: 20px;
    }

    mat-error {
      position: relative;
      top: -10px;
    }
  }
}
