<main>
  <section>
    <h1 class="title">
      Buy or rent your property with the real estate specialists in your region
    </h1>
    <h2 class="sub-title">
      Find the best apartments, houses and commercial real estate
    </h2>
    <form class="search-container" [formGroup]="searchGroup">
      <mat-button-toggle-group formControlName="type">
        <mat-button-toggle data-testid="mat-button-toggle-sale" value="sale"
          >Buy</mat-button-toggle
        >
        <mat-button-toggle data-testid="mat-button-toggle-rent" value="rent"
          >To Rent</mat-button-toggle
        >
      </mat-button-toggle-group>

      <mat-error
        data-testid="mat-button-toggle-group-error"
        reShowValidationError
        [reShowValidationErrorControlName]="'type'"
      ></mat-error>

      <mat-form-field appearance="outline">
        <mat-label>Property Type </mat-label>
        <mat-select
          formControlName="propertyType"
          data-testid="mat-select-property-type"
        >
          <mat-option value="null">--</mat-option>

          <mat-option
            [value]="option"
            *ngFor="let option of propertiesTypesOptions$ | async"
            >{{option | titlecase}}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>District </mat-label>
        <mat-select
          formControlName="district"
          data-testid="mat-select-district"
        >
          <mat-option value="null">--</mat-option>

          <mat-option
            [value]="option"
            *ngFor="let option of districtsOptions$ | async"
          >
            {{option | titlecase}}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Location</mat-label>

        <input
          matInput
          type="text"
          data-testid="mat-input-location"
          formControlName="location"
          [matAutocomplete]="auto"
          placeholder="Enter a street, neighborhood or city"
        />

        <mat-autocomplete
          autoActiveFirstOption
          #auto="matAutocomplete"
          data-testid="mat-input-location-auto-complete"
        >
          <mat-option
            *ngFor="let option of locationOptions$ | async "
            [value]="option"
          >
            <mat-icon matSuffix>location_on</mat-icon>
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <button
        data-testid="mat-button-submit"
        mat-raised-button
        [disabled]="searchGroup.invalid"
        color="primary"
        (click)="submitForm()"
      >
        Search real estate
      </button>
    </form>
  </section>
</main>
